section#about {
	width: min(90%, 1200px);
	margin-inline: auto;
	padding-block-end: 40px;

    h1, section#our-story {
        animation: home-reveal 0.5s cubic-bezier(0.36, 0, 0.64, 1) forwards;
    }

	h1 {
		font-family: var(--playfair);
		font-style: italic;
		font-weight: 900;
		font-size: 2.5rem;
		margin-block-start: 40px;
	}

	section#our-story {
		margin-block-start: 32px;

		p {
			margin-block-start: 20px;
			font-size: var(--text-medium);
            font-weight: 300;
			max-width: 80ch;

			&.closing-blurb {
				font-weight: 400;
			}
		}
	}
}
