section#not-found {
    width: min(90%, 1200px);
    margin-inline: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-family: var(--playfair);
		font-weight: 900;
		font-style: italic;
        font-size: clamp(3.5rem, 20vh, 8rem);
    }

    p {
        font-size: var(--text-large);
        margin-block: 2rem;
    }
}
