section#product-details {
	width: min(90%, 1200px);
	margin-inline: auto;

	.product-header {
		margin-block: 40px 32px;

		button {
            background-color: transparent;
            color: var(--black);
            border: none;
			font-weight: bold;
		}

		h1 {
			font-family: var(--playfair);
			font-style: italic;
			font-weight: 900;
			font-size: 2.5rem;
		}
	}

	.product-content {
        animation: home-reveal 0.5s cubic-bezier(0.36, 0, 0.64, 1) forwards;
		margin-block-end: 40px;
		display: grid;
		gap: 32px;
		/* Default layout for mobile (one column) */
		grid-template-columns: 1fr;
		grid-template-areas:
			"image"
			"info";

		/* Two column layout for larger screens */
		@media (min-width: 768px) {
			grid-template-columns: repeat(2, 1fr);
			grid-template-areas: "image info";
		}

		.embla {
			overflow: hidden;
			grid-area: image;

			.embla__container {
				display: flex;
			}
			.embla__slide {
				flex: 0 0 100%;
				min-width: 0;

				/* img {
					border-radius: 24px;
				} */
			}
		}

		.product-info {
			grid-area: info;

			h1 {
				font-weight: 700;
				font-size: 2.5rem;
				text-decoration: underline;
				/* Remove extra spacing above the product's title */
				text-box-trim: trim-both;
				text-box-edge: cap text;
			}

			.price {
				font-size: var(--text-small);
			}

			.description {
				padding-block: 20px;
                font-weight: 300;
			    font-size: var(--text-medium);
			}
		}
	}
}
